body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
}

.header {
    background-color: #1F2937;

}

#hero-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-link, #hero-secondary {
    font-size: 18px;
    color: #E5E7Eb;
}

#hero-logo {
    font-size: 24px;
    color: #F9FAF8;
}