body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
}

.header {
    background-color: #1F2937;
    display: flex;
    flex-wrap: wrap;
    padding: 0 200px ;
    align-items: center;
    justify-content: space-evenly;
}

#hero-img {
    width: 550px;
    height: 250px;
}
#hero-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    max-width: 400px;
    min-width: 0;
    white-space: normal;
}

.hero-link, #hero-secondary {
    font-size: 18px;
    color: #E5E7Eb;
}

#hero-secondary {
    max-width: 400px;
    min-width: 0;
    white-space: normal;
}

#hero-logo {
    font-size: 24px;
    color: #F9FAF8;
    padding: 15px;
    font-weight: 900;
}

.container1 {
    display: flex;
    gap: 70px;
    padding-bottom: 100px;
}

.container0 {
    display: flex;
    gap: 15px;
    padding: 15px;
}

.container0, #hero-logo {
    padding-bottom: 100px;
}

.container2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 10px;
    white-space: nomral;
}